.sidebar{
    width:20%;
    height: auto;
    border: 1px solid none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    // background-color: red;

    article{
        height: 300px;
        border: 1px solid $border;
        box-shadow: 0 0 2px $shadowColor;
    }
}