$dark:rgb(21, 21, 22);
$primary:white;
$secondary:grey;
$bodyColor:rgb(156, 154, 154);
$border:#000;
$shadowColor:rgb(14, 13, 13);
$hover:rgba(32, 32, 32, 0.712);
$btn_ouline:rgb(42, 42, 48);
// $secondary:rgb(183, 236, 238);
$fs_sm:.9rem;
$fs_large:1.2rem;
$fs_larger:1.5rem;
$fs_largest:2rem;